In [1]:
# drop unsed(unimportant) Columns 
data.drop(['End_year','Related_anime','staff'], axis=1, inplace=True)

NameError: name 'data' is not defined

In [ ]:
#print Columns after removing the three columns
print(data.columns.tolist())

In [ ]:
# Number of rows (now)
print("Current Number of rows", data.shape[0])
# check Rows Duplication
duplicated_rows = sum(data.duplicated())
print("Number of Duplicated rows: ", duplicated_rows)
if(duplicated_rows):
    data.drop_duplicates(keep ='first', inplace=True)
print("New Number of rows after Removing duplication", data.shape[0])

In [ ]:
#delete unimportant data in "type" column
data.drop(data.index[data['Type'] == 'Music'], inplace = True)